extends ./../index.jade

block competitions
    div.mainContainer
        div(class="col-xs-12 text-center")
            table(border= 1, class="navCompetition")
                thead
                    th(class="col-sm-3 text-center")
                        a(href='/') Main
                    th(class="col-sm-3 text-center") Competitions
                    th(class="col-sm-3 text-center")
                        a(href='https://vk.com/vlad_ork') VK
        div(class="col-xs-12 text-center")    
            table(border = 1, class="mainTable")
                thead
                    th.text-center Date
                    th.text-center Title
                    th.text-center Place
                    th.text-center Organizers
                    th.text-center Applications
                each competition in competitions
                    tbody
                        td #{competition.DATECOMPETITION}
                        td 
                            a(href='/competition/#{competition.IDCOMPETITION}/details') #{competition.TITLE}
                        td #{competition.PLACE}
                        td #{competition.ORGANIZERS}
                        td #{competition.COUNT}
