extends ./../index.jade

block inDB
    div.mainContainer
        div(class="col-xs-12 text-center")
            table(border= 1, class="navCompetition")
                thead
                    th(class="col-sm-3 text-center") 
                        a(href="/") Main
                    th(class="col-sm-3 text-center") 
                        a(href='/competitions') Competitions
                    th(class="col-sm-3 text-center") 
                        a(href='https://vk.com/vlad_ork') VK
        div(class="col-xs-12 text-center")
            h2
                span(class="glyphicon glyphicon glyphicon-star")
                    b(style="word-spacing: -20px;") #{inDB[0].TITLE} 
                br
                small #{inDB[0].PLACE}, #{inDB[0].DATECOMPETITION}
        div(class="col-xs-12 text-center")
            table(border= 1, class="mainTable")
                thead
                    th(class="col-sm-4 text-center") 
                        a(href='/competition/#{inDB[0].IDCOMPETITION}/info') Info
                    th(class="col-sm-4 text-center")   
                        a(href='/competition/#{inDB[0].IDCOMPETITION}/details') Applications(#{inDB[0].COUNT})
                    th(class="col-sm-4 text-center") 
                        a(href='/competition/#{inDB[0].IDCOMPETITION}/registration') Registration
        
        div(class="col-xs-12")
            form(id='regForm' class="form-horizontal" name='form_info' 
                action="/competition/#{inDB[0].IDCOMPETITION}/registration/inDB/answer" method="post")
                div(class="form-group")
                    div(class="col-sm-7")

                        label(for="partner") Partner:
                        select(class="form-control selectpicker", name="Partner", data-live-search="true", title='Choose: partner', required)
                            each partner in inDB.Partners
                                option(value='#{partner.CODEPARTNER}' data-tokens='#{partner.NAMEPARTNER} #{partner.SURNAMEPARTNER}') #{partner.NAMEPARTNER} #{partner.SURNAMEPARTNER} #{partner.PATRONYMIC}, #{partner.COUNTRY}

                        label(for="shePartner") Shepartner:
                        select(class="form-control selectpicker", name="Shepartner",
                            data-live-search="true", title='Choose: shepartner', required)
                            each shepartner in inDB.ShePartners
                                option(value='#{shepartner.CODESHEPARTNER}' data-tokens='#{shepartner.NAMESHEPARTNER} #{shepartner.SURNAMESHEPARTNER}') #{shepartner.NAMESHEPARTNER} #{shepartner.SURNAMESHEPARTNER} #{shepartner.PATRONYMIC}, #{shepartner.COUNTRY}

                        label(for="coach") Coach:
                        select(class="form-control selectpicker", name="Coach", data-live-search="true", title='Choose: coach', required)
                            each coach in inDB.Coaches
                                option(value='#{coach.CODECOACH}' data-tokens='#{coach.NAMECOACH} #{coach.SURNAMECOACH}') #{coach.NAMECOACH} #{coach.SURNAMECOACH} #{coach.PATRONYMICCOACHES}, #{coach.COUNTRY}

                        label(for="class") Category, Class, Program:
                        select(class="form-control selectpicker", name="Class", title='Choose: category, class, program', required)
                            each competitionClass in inDB.Classes
                                option(value='#{competitionClass.CATEGORYNAME}_#{competitionClass.CLASSNAME}_#{competitionClass.TYPEOFPROGRAM}') #{competitionClass.CATEGORYNAME}, #{competitionClass.CLASSNAME}, #{competitionClass.TYPEOFPROGRAM}
                button(id='couple', type="submit", class="btn btn-success") Submit