extends layout

block index
    h1= message
    h2= error.status
    pre #{error.stack}
block main
    h1= message
    h2= error.status
    pre #{error.stack}
block competitions
    h1= message
    h2= error.status
    pre #{error.stack}
block competition
    h1= message
    h2= error.status
    pre #{error.stack}
block registration
    h1= message
    h2= error.status
    pre #{error.stack}
block oneCategory
    h1= message
    h2= error.status
    pre #{error.stack}
block info
    h1= message
    h2= error.status
    pre #{error.stack}
block inBD
    h1= message
    h2= error.status
    pre #{error.stack}
block answer
    h1= message
    h2= error.status
    pre #{error.stack}
block notInDB
    h1= message
    h2= error.status
    pre #{error.stack}